<ul class="toolbar">
  <li><button class="generate-instruments">Instruments</button></li>
  <li><button class="generate-song-length">Song Length</button></li>
  <li><button class="generate-tempo">Tempo</button></li>
  <li><button class="generate-all">Generate All</button></li>
</ul>